:root {
  --white: #fff;
  --black: #000;
  --blue: #2196f3;
  --darkgrey: #2f303a;
  --grey: #757575;
  --lightgrey: #e5e5e5;
  --notblack: #212121;
  --notwhite: #f5f4fa;
  --footerlinks: #ffffff99;
  --productborder: #eeeeee;
}

/* Global styles for whole website */

body {
  font-family: 'Roboto', 'Raleway', sans-serif;
  color: var(--grey);
  background-color: var(--white);
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.03em;
  margin: 0;
  padding: 0;
  
}
a {
  text-decoration: none;
}
img {
  display: block;
}
.container {
  width: 1200px;
  margin: 0 auto;
}

/* poczatek header */

.header {
  border-bottom: 1px solid #ececec;
  margin: 0px;
}

.header-style {
  display: flex;
}
.logo-box {
  padding-top: 24px;
}
.logo-style {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: var(--black);
}

.blue-text {
  color: var(--blue);
}
.blue-text:hover,
.blue-text:focus {
  color: var(--blue);
}
.nav-list {
  display: flex;
  list-style: none;
  gap: 46px;
  margin: 0;
  padding: 32px 0 31px 93px;
}

.link-style {
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.14285714;
  color: var(--notblack);
}
.nav-enter-item{color: var(--blue);}
.contact-style {
  gap: 50px;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 32px 27px 31px 371px;
}
.contact-link-style {
  color: var(--grey);
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.14285714;
}
/* koniec header */
/* zamow usluge box */
.top-section {
  background-color: var(--darkgrey);
  color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 600px;
}
.top-section-text {
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36363636;
  margin: 0;
}
.order-service-button {
  background-color: var(--blue);
  border-style: none;
  border-radius: 4px;
  cursor: pointer;
  color: var(--white);
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
}
/* koniec zamow usluge box */
/* poczatek Lorem ipsum list */

.major-section-list {
  display: flex;
  list-style: none;
  gap: 30px;
  justify-content: center;
  margin: 0;
  padding: 94px 15px;
}

.major-heading {
  color: var(--notblack);
  font-weight: 700;
  line-height: 1.14285714;
  text-transform: uppercase;
  margin: 0px auto;
  font-size: 14px;
}
.major-item-text {
  line-height: 1.71428571;
  color: var(--grey);
  margin: 0;
  padding-top: 10px;
  padding-bottom: 3px;
}

/* koniec sekcji lorem */
/* poczatek sekcji czym sie zajmujemy */
.specializations {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  color: var(--notblack);
  margin: 0 auto;
  padding: 0 424px 50px;
}
.specializations-items {
  display: flex;
  list-style: none;
  gap: 30px;
  justify-content: center;
  margin: 0;
  padding: 0 15px 94px;
}

/* koniec sekcji czym sie zajmujemy */
/* poczatek sekcji our team */

.our-team-background {
  background-color: var(--notwhite);
}

.ourteam-heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  color: var(--notblack);
  margin: 0;
  padding: 94px 495px 50px;
}
.ourteam-list {
  display: flex;
  list-style: none;
  gap: 30px;
  justify-content: center;
  margin: 0;
  padding: 0 15px 94px;
}
.ourteam-item {
  background-color: var(--white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.ourteam-item-heading {
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--notblack);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  margin: 0;
  padding: 30px 99px 10px;
}
.ourteam-item-text {
  text-align: center;
  font-weight: 400;
  letter-spacing: 0.03em;
  font-size: 16px;
  line-height: 1.1875;
  margin: 0 auto;
  padding-bottom: 30px;
}
/* koniec sekcji our team */
/* footer */
.footer {
  background-color: var(--darkgrey);
}
.logo-style-footer {
  padding-top: 66px;
  padding-bottom: 62px;
}
.logo-footer {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1,19230769;
  letter-spacing: 0.03em;
  color: var(--white);
  margin: 0px;
}

.footer-address-list {
  display: flex;
  list-style: none;
  flex-direction: column;
  padding-left: 0px;
  gap: 9px;
  padding-top: 20px;
  font-style: normal;
  color: var(--white);
  margin: 0;
}
.contact-footer-item {
  color: var(--footerlinks);
}

/* Koniec footer */
/* Portfolio page */

.btn-style {
  display: flex;
  gap: 8px;
  margin: 0px;
  list-style: none;
  padding: 94px 318px 50px 310px;
}
.btn {
  background-color: var(--notwhite);
  border-width: 0;
  height: 38px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.625;
  border-radius: 3px;
  padding: 6px 22px;
  font-family: 'Roboto';
  cursor: pointer;
}
.btn:hover,
.btn:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  background-color: var(--blue);
  color: var(--white);
}
.portfolio-element {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  margin: 0px;
  list-style: none;
  padding: 0 15px 94px;
}
.portfolio-item {
  border-bottom: 1px solid var(--productborder);
}
.portfolio-item-heading {
  letter-spacing: 0.06em;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: var(--notblack);
  margin: 0px;
  padding: 20px 24px 4px;
  text-align: left;
}
.portfolio-item-text {
  font-size: 16px;
  line-height: 1.875;
  color: var(--grey);
  margin: 0px;
  padding: 0 24px 20px;
}
/* koniec portfolio page */
/* porftolio footer */
.logo-style-footer-portfolio {
  font-family: 'Raleway';
  color: var(--white);
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19230769;
  margin: 0;
  padding-left: 15px;
  display: inline-block;
}
.contact-list-footer-portfolio {
  list-style: none;
  margin: 0px;
  gap: 9px;
  display: flex;
  flex-direction: column;
  padding-left: 15px;
  padding-top: 20px;
  font-style: normal;
}
.address-footer-portfolio {
  line-height: 1.714;
  color: var(--white);
  font-style: normal;
  gap: 9px;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.footer-container-style {
  padding: 60px 0;
  padding-top: 60px;
}

/* Koniec czesci portfolio */
