:root {
  --white: #fff;
  --black: #000;
  --blue: #2196f3;
  --darkgrey: #2f303a;
  --grey: #757575;
  --lightgrey: #e5e5e5;
  --notblack: #212121;
  --notwhite: #f5f4fa;
  --footerlinks: #ffffff99;
  --productborder: #eeeeee;
  --iconcolor: #afb1b8;
}

/* Global styles for whole website */

body {
  font-family: 'Roboto', 'Raleway', sans-serif;
  color: var(--grey);
  background-color: var(--white);
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.03em;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
img {
  display: block;
}
.container {
  width: 1200px;
  margin: 0 auto;
}

/* poczatek header */

.header {
  border-bottom: 1px solid #ececec;
  margin: 0px;
  height: 80px;
}

.header-style {
  display: flex;
  padding-left: 15px;
}
.logo-nav-box {
  position: absolute;
  display: flex;
  gap: 93px;
  top: 24px;
}
.logo-style {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: var(--black);
}

.blue-text {
  color: var(--blue);
}
.blue-text:hover,
.blue-text:focus {
  color: var(--blue);
}

.active::after {
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--blue);
  transform: translateY(31px);
  border-radius: 2px;
}

.nav-pages {
  display: flex;
  gap: 46px;
  margin: 0;
  align-items: center;
}

.link-style {
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.14285714;
  color: var(--notblack);
}
.nav-enter-item {
  color: var(--blue);
}
.contact-style {
  gap: 30px;
  display: flex;
  margin: 0;
  position: absolute;
  right: 168px;
  top: 32px;
}
.contact-link-style {
  color: var(--grey);
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.14285714;
}
.icons-header {
  fill: var(--grey);
  display: flex;
  align-items: center;
  justify-content: center;
}
.icons-header:focus,
.icons-header:hover {
  fill: var(--blue);
}
.icon-header-spacing {
  margin-right: 10px;
}

/* koniec header */
/* zamow usluge box */
.top-section {
  background-color: var(--darkgrey);
  color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 600px;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../images/backgroundimage.jpg) no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}
.top-section-text {
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  padding-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36363636;
  margin: 0;
}
.order-service-button {
  background-color: var(--blue);
  border-style: none;
  border-radius: 4px;
  cursor: pointer;
  color: var(--white);
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
}
.order-service-button:hover {
  background-color: #1a78c2;
}
.order-service-button:active {
  background-color: #135a91;
}
/* koniec zamow usluge box */
/* poczatek Lorem ipsum list */

.major-section-list {
  display: flex;
  list-style: none;
  gap: 30px;
  justify-content: center;
  margin: 0;
  padding: 94px 15px;
}

.major-heading {
  color: var(--notblack);
  font-weight: 700;
  line-height: 1.14285714;
  text-transform: uppercase;
  margin: 0px auto;
  font-size: 14px;
}
.major-item-text {
  line-height: 1.71428571;
  color: var(--grey);
  margin: 0;
  padding-top: 10px;
  padding-bottom: 3px;
}
.icons-box {
  background-color: var(--notwhite);
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
}
.icons-major {
  margin: 25px 100px;
}

/* koniec sekcji lorem */
/* poczatek sekcji czym sie zajmujemy */
.specializations {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  color: var(--notblack);
  margin: 0 auto;
  padding: 0 424px 50px;
}
.specializations-items {
  display: flex;
  list-style: none;
  gap: 30px;
  justify-content: center;
  margin: 0;
  padding: 0 15px 94px;
}

.no-margin {
  margin: 0;
}
.element-size {
  width: 370px;
  height: 294px;
}

.picture-description {
  color: var(--white);
  font-weight: 700;
  background-color: rgba(47, 48, 58, 0.8);
  height: 70px;
  text-align: center;

  position: relative;
  text-transform: uppercase;
  top: -70px;
  padding: 27px 0;
}

/* koniec sekcji czym sie zajmujemy */
/* poczatek sekcji our team */

.our-team-background {
  background-color: var(--notwhite);
}

.ourteam-heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  color: var(--notblack);
  margin: 0;
  padding: 94px 495px 50px;
}
.ourteam-list {
  display: flex;
  list-style: none;
  gap: 30px;
  justify-content: center;
  margin: 0;
  padding: 0 15px 94px;
}
.ourteam-item {
  background-color: var(--white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.ourteam-item-heading {
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--notblack);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  margin: 0;
  padding: 30px 99px 10px;
}
.ourteam-item-text {
  text-align: center;
  font-weight: 400;
  letter-spacing: 0.03em;
  font-size: 16px;
  line-height: 1.1875;
  margin: 0 auto;
  padding-bottom: 16px;
}
.team-card-icons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 30px;
}
.team-card-icon {
  width: 44px;
  height: 44px;
  background-color: var(--white);
  border-radius: 50%;
  fill: var(--iconcolor);
  overflow: hidden;
}
.team-card-icon:focus svg,
.team-card-icon:hover svg {
  fill: var(--white);
  background-color: var(--blue);
}
/* koniec sekcji our team */
/* nasi klienci */
.ourclients-heading {
  margin: 0;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  color: var(--notblack);
  padding-top: 94px;
  padding-bottom: 50px;
}
.ourclients-list {
  display: flex;
  list-style: none;
  gap: 30px;
  justify-content: center;
  margin: 0;
  padding: 0 0 94px 0;
}
.ourclients-logo-link {
  display: flex;
  width: 170px;
  height: 92px;
}
.ourclients-logo {
  fill: var(--iconcolor);
  border: 1px solid var(--iconcolor);
  border-radius: 4px;
}
.ourclients-logo-link:hover svg,
.ourclients-logo-link:focus svg {
  fill: var(--blue);
  border: var(--blue) solid 1px;
}
/* koniec nasi klienci */
/* footer */
.footer {
  background-color: var(--darkgrey);
}
.logo-style-footer {
  padding-top: 66px;
  padding-bottom: 62px;
}
.logo-footer {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1, 19230769;
  letter-spacing: 0.03em;
  color: var(--white);
  margin: 0px;
}

.footer-address-list {
  display: flex;
  list-style: none;
  flex-direction: column;
  padding-left: 0px;
  gap: 9px;
  padding-top: 20px;
  font-style: normal;
  color: var(--white);
  margin: 0;
}
.contact-footer-item {
  color: var(--footerlinks);
}
.footer-items {
  display: flex;
}
.footer-social-section {
  padding-top: 72px;
  padding-left: 70px;
}
.footer-social-heading {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white);
  margin: 0;
  padding-bottom: 20px;
}
.social-media-list {
  display: flex;
  gap: 10px;
  padding: 0;
  margin: 0;
  list-style: none;
}
.social-icon-footer {
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 50%;
  fill: var(--white);
  overflow: hidden;
}

.footer-social-link:focus svg,
.footer-social-link:hover svg {
  background-color: var(--blue);
}
/* Koniec footer */
/* okno modalne */
.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  transition-property: opacity;
  transition: ease-in-out;
  transition-duration: 250ms;
}
.backdrop:active {
  opacity: 1;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: var(--white);
}
.modal-button {
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: var(--white);
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 30px;
  height: 30px;
  padding: 0;
  margin: 0;
}
.close-modal-button {
  width: 18px;
  height: 18px;
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal-heading {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  margin: 0;
  justify-content: center;
  color: var(--notblack);
  padding-top: 40px;
}
.modal-forms {
  display: flex;
  flex-direction: column;
  width: 448px;

  margin: 2px auto 0px;
}
.label-box-heading {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--grey);
  margin: 0;
  padding-top: 10px;
  padding-bottom: 4px;
}
.label-boxes {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 40px;
  outline: none;
  padding: 0;
}
.modal-box-text {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 120px;
  padding: 12px 16px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--grey);
  outline: none;
  resize: none;
}
.modal-checkbox {
  display: flex;
  flex-direction: row;
  margin: 20px auto 30px;
  gap: 8px;
}
.law-styles {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--grey);
}
.law-text {
  color: var(--blue);
  text-decoration: underline;
}
.submit-button {
  border-radius: 4px;
  width: 200px;
  height: 50px;
  background-color: var(--blue);
  color: var(--white);
  margin: 0 auto;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  outline: none;
  border-color: var(--blue);
} 
.submit-button:hover {
  background-color: #1a78c2;
  border-color:#1a78c2 ;
}
.submit-button:active {
  background-color: #135a91;
  border-color:  #135a91;
} 
/* koniec okna modalnego */
/* Portfolio page */

.btn-style {
  display: flex;
  gap: 8px;
  margin: 0px;
  list-style: none;
  padding: 94px 318px 50px 310px;
}
.btn {
  background-color: var(--notwhite);
  border-width: 0;
  height: 38px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.625;
  border-radius: 3px;
  padding: 6px 22px;
  font-family: 'Roboto';
  cursor: pointer;
}
.btn:hover,
.btn:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  background-color: var(--blue);
  color: var(--white);
}
.portfolio-element {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  margin: 0px;
  list-style: none;
  padding: 0 15px 94px;
}
.portfolio-item {
  border-bottom: 1px solid var(--productborder);
  position: relative;
  width: 370px;
  height: 404px;
}
.description-info {
  position: absolute;
  width: 100%;
  height: 294px;
  overflow: hidden;
}
.description-animation {
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-block;
  position: relative;
}
.description-text {
  margin: 0;
  padding: 49px 45px 49px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: var(--white);
}
.portfolio-item:hover .description-animation {
  transform: translateY(0%);
}
.portfolio-item:focus,
.portfolio-item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-item-heading {
  letter-spacing: 0.06em;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: var(--notblack);
  margin: 0px;
  padding: 20px 24px 4px;
  text-align: left;
}
.portfolio-item-text {
  font-size: 16px;
  line-height: 1.875;
  color: var(--grey);
  margin: 0px;
  padding: 0 24px 20px;
}
/* koniec portfolio page */
/* porftolio footer */
.logo-style-footer-portfolio {
  font-family: 'Raleway';
  color: var(--white);
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19230769;
  margin: 0;
  padding-left: 15px;
  display: inline-block;
}
.contact-list-footer-portfolio {
  list-style: none;
  margin: 0px;
  gap: 9px;
  display: flex;
  flex-direction: column;
  padding-left: 15px;
  padding-top: 20px;
  font-style: normal;
}
.address-footer-portfolio {
  line-height: 1.714;
  color: var(--white);
  font-style: normal;
  gap: 9px;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.footer-container-style {
  padding: 60px 0;
}

/* Koniec czesci portfolio */
