.clients {
  &__container {
    width: 290px;
    margin: 0 auto;
  }
  &__heading {
    margin: 0;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.167;
    text-align: center;
    color: var(--notblack);
    padding-top: 60px;
    padding-bottom: 50px;
  }
  &__list {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    margin: 0;
    padding: 0 0 60px 0;
  }
  &__link {
    display: flex;
    width: 210px;
    height: 92px;
    margin: 0 auto;
  }
  &__logo {
    fill: var(--iconcolor);
    border: 1px solid var(--iconcolor);
    border-radius: 4px;
  }
  &__link:hover svg,
  &__link:focus svg {
    fill: var(--blue);
    border: var(--blue) solid 1px;
  }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .clients {
    &__container {
      width: 450px;
      margin: 0 auto;
    }
    &__list {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .clients {
    &__container {
      width: 450px;
    }
    &__heading {
      padding-bottom: 30px;
    }
    &__list {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }
}
@media screen and (min-width: 1200px) {
  .clients {
    &__heading {
      padding-top: 94px;
    }
    &__container {
      width: 1200px;
      margin: 0 auto;
    }
    &__list {
      flex-direction: row;
      padding-bottom: 94px;
      gap: 20px;
    }
    &__link {
      width: 150px;
      height: 88px;
    }
   
  }
}
