.employee__socials {
  gap: 10px;
  margin-bottom: 24px;
  justify-content: center;
  display: flex;
  &--icon {
    width: 44px;
    height: 44px;
    background-color: var(--white);
    border-radius: 50%;
    fill: var(--iconcolor);
    overflow: hidden;
    &:focus svg,
    &:hover svg {
      fill: var(--white);
      background-color: var(--blue);
    }
  }
}
