.footer {
  background-color: var(--darkgrey);
  
  &__nav {
    padding-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  &__address {
    display: flex;
    list-style: none;
    flex-direction: column;
    padding-left: 0px;
    gap: 9px;
    padding-top: 20px;
    font-style: normal;
    color: var(--white);
    margin: 0;
    &--style {
      text-align: center;
    }
    &--map {
      font-weight: 400;
      font-size: 14px;
      line-height: 24px;
      text-align: center;
    }
  }
  &__contact {
    color: var(--footerlinks);
    @extend .text--blue;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
  }
}
