.footer {
  background-color: var(--darkgrey);

  &__nav {
    padding-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  &__address {
    display: flex;
    list-style: none;
    flex-direction: column;
    padding-left: 0px;
    gap: 8px;
    padding-top: 20px;
    font-style: normal;
    color: var(--white);
    margin: 0;
    &--style {
      text-align: center;
      height: 21px;
    }
    &--map {
      font-weight: 400;
      font-size: 14px;
      line-height: 24px;
      text-align: center;
      height: 21px;
    }
  }
  &__contact {
    color: var(--footerlinks);
    @extend .text--blue;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .footer {
    height: 463px;
    width: 100%;
    &--style {
      display: flex;
      gap: 144px;
      width: 603px;
      margin: 0 auto;
    }
  }
}
@media screen and (min-width: 1200px) {
  .footer {
    &__container {
      width: 1200px;
      height: 252px;
      margin: 0 auto;
      display: flex;
      flex-direction: row;
    }
    &--style {
      display: flex;
    }
    &__nav {
      align-items: flex-start;
      justify-content: flex-start;
      padding-left: 15px;
    }
    &__address {
      gap: 9px;
      &--style {
        text-align: left;
      }
    }
  }
}
