.header {
  border-bottom: 1px solid #ececec;
  margin: 0px;
  height: 80px;
  &--style {
    display: flex;
    padding-left: 15px;
  }
  &__nav {
    position: absolute;
    display: flex;
    gap: 93px;
    top: 24px;
  }
  &__contacts {
    gap: 30px;
    display: flex;
    margin: 0;
    position: absolute;
    right: 168px;
    top: 32px;
    &--style {
      color: var(--grey);
      font-weight: 500;
      letter-spacing: 0.02em;
      line-height: 1.14285714;
    }
  }
}

.nav__link {
  display: flex;
  gap: 46px;
  margin: 0;
  align-items: center;
  &--style {
    font-weight: 500;
    letter-spacing: 0.02em;
    line-height: 1.14285714;
    color: var(--notblack);
  }
  &--enter {
    color: var(--blue);
  }
}

.header__icons {
  fill: var(--grey);
  display: flex;
  align-items: center;
  justify-content: center;
  &:focus,
  &:hover {
    fill: var(--blue);
  }
  &--spacing {
    margin-right: 10px;
  }
}
.active::after {
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--blue);
  transform: translateY(31px);
  border-radius: 2px;
}
