.header__logo {
  @extend %logo-basic;
  color: var(--black);
  &--blue {
    color: var(--blue);
  }
}

.footer__logo {
  @extend %logo-basic;
  color: var(--white);
 

  &--blue {
    color: var(--blue);
  }
}
