.services__button {
    background-color: var(--blue);
    border-style: none;
    border-radius: 4px;
    cursor: pointer;
    color: var(--white);
    width: 200px;
    height: 50px;
    font-weight: 700;
    font-size: 16px;
    &:hover {
      background-color: #1a78c2;
    }
    &:active {
      background-color: #135a91;
    }
  }
 