.mobile-menu {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--white);
  transform: translateX(100%);
  visibility: hidden;
  transition: transform 250ms ease-in-out;
  &__nav-list {
    list-style: none;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    letter-spacing: 0.02em;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 48px;
    left: 30px;
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
  &__nav-item {
    &--style {
      color: var(--notblack);
    }
    &--style1 {
      color: var(--blue);
    }
  }
  &__dials {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
  &__contact-list {
    position: absolute;
    bottom: 48px;
    left: 30px;
  }
  &__phone {
    font-weight: 500;
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 0.02em;
    color: var(--blue);
  }
  &__email {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.02em;
    color: var(--grey);
  }
  &__social-list {
    text-decoration: none;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 44px;

    & > a:not(:last-child) {
      padding-right: 10px;
      border-right: 1px solid rgba(33, 33, 33, 0.2);
    }
  }
  &__social-link {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.02em;
    color: var(--blue);
  }
}
.link--highlight {
  color: var(--notblack);
}

.js-close-menu {
  background-color: var(--white);
  border: none;
  padding: 0;
  position: absolute;
  top: 15px;
  right: 15px;
  &:hover {
    fill: var(--blue);
  }
  &:active {
    fill: var(--blue);
  }
}

.is-open {
    
    transform: translateX(0%);
    visibility: visible;
}