.modal__button {
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: var(--white);
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 30px;
  height: 30px;
  padding: 0;
  margin: 0;
  &:hover {
    background-color: var(--notwhite);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: var(--blue);
  }
  &:active {
    background-color: var(--lightgrey);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: var(--blue);
  }
  &--close {
    width: 18px;
    height: 18px;
  }
}

.submit {
  border: 0px;
  border-radius: 4px;
  width: 200px;
  height: 50px;
  background-color: var(--blue);
  color: var(--white);
  position: absolute;
  bottom: 45px;
  left: 45px;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  outline: none;
  border-color: var(--blue);
  &:hover {
    background-color: #1a78c2;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &:active {
    background-color: #135a91;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  .submit {
bottom:40px;
left: 126px;
  }
}
