.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 290px;
  height: 600px;
  background-color: var(--white);
  &__heading {
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.03em;
    margin: 0;
    justify-content: center;
    color: var(--notblack);
    padding-top: 40px;
  }
  &__forms {
    display: flex;
    flex-direction: column;
    width: 250px;
    margin: 2px auto 0px;
  }
}

.details {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 40px;
  outline: none;
  padding: 0 30px;
  &__heading {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: var(--grey);
    margin: 0;
    padding-top: 10px;
    padding-bottom: 4px;
  }
  &:active + svg,
  &:focus + svg {
    fill: var(--blue);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &:active + .details__heading,
  &:hover + .details__heading {
    color: var(--blue);
  }
  &:hover {
    border: 1px solid var(--blue);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &:active,
  &:focus {
    border: 2px solid var(--blue);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 0 41px;
  }
}

.details__comment {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 120px;
  padding: 12px 16px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--grey);
  outline: none;
  resize: none;
  &:hover {
    border: 1px solid var(--blue);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &:active,
  &:focus {
    border: 2px solid var(--blue);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 11px 15px;
  }
}

.checkbox {
  display: flex;
  flex-direction: row;

  position: absolute;
  bottom: 115px;
  gap: 8px;
  &--style {
    appearance: none;
    -webkit-apperance: none;
  }
  &__label {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.03em;
    color: var(--grey);
    position: relative;
    padding-left: 20px;
    width: 250px;
    &::before {
      position: absolute;
      width: 16px;
      height: 15px;
      border: 2px solid black;
      border-radius: 3px;
      display: block;
      content: '';
      left: 0px;
      top: 3px;
      cursor: pointer;
    }
  }
  &__image {
    width: 16px;
    height: 16px;
    position: absolute;
    left: 0px;
    top: 3px;
    display: none;
  }
}

.checkbox__text {
  color: var(--blue);
  text-decoration: underline;
  &:hover {
    text-decoration-thickness: 2px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

input:checked + .checkbox__image {
  display: block;
  fill: var(--white);
  border: none;
  background-color: var(--blue);
  border-radius: 3px;
  cursor: pointer;
}

.label__icons {
  fill: var(--notblack);
  width: 20px;
  height: 18px;
  position: absolute;
  &--position1 {
    top: 129px;
    left: 30px;
  }
  &--position2 {
    top: 197px;
    left: 31px;
  }
  &--position3 {
    top: 263px;
    left: 30px;
  }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .modal {
    width: 450px;
    height: 609px;
    &__heading {
      font-weight: 700;
      font-size: 20px;
      line-height: 30px;
      padding: 40px 40px 2px;
    }
    &__forms {
      width: 370px;
    }
  }
  .details {
    width: 370px;
    padding: 0 42px;
  }
  .checkbox {
    &__label {
      width: 370px;
    }
  }
  .label__icons {
    &--position1 {
      top: 145px;
      left: 56px;
    }
    &--position2 {
      top: 212px;
      left: 54px;
    }
    &--position3 {
      top: 279px;
      left: 54px;
    }
  }
  .details__comment {
    font-size: 14px;
    line-height: 16px;
  }
  .checkbox {
    &__label {
      padding-top: 1px;
      &::before {
        top: 0;
      }
    }
    &__image {
      top: 0;
    }
  }
}
