.newsletter {
  display: flex;
  justify-content: center;
  flex-direction: column;

  &__heading {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white);
    text-align: center;
    padding-top: 60px;
    padding-bottom: 20px;
  }
  &__order {
    margin: 0 auto;
    flex-direction: column;
  }
  &__box {
    width: 290px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: var(--darkgrey);
    outline: none;
    padding-left: 10px;
    padding-right: 20px;
    color: var(--white);
  }
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  .newsletter {
    &__box {
      width: 450px;
    }
  }
}
