.newsletter {
    margin-top: 72px;
    padding-left: 77px;
  }
  .newsletter__heading {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white);
  }
  .newsletter__box {
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: var(--darkgrey);
    outline: none;
    padding-left: 10px;
    padding-right: 20px;
    color: var(--white);
  }
  .newsleter__order {
    display: flex;
    margin-top: 20px;
  }
  