.massmedia {
  padding-top: 72px;
  padding-left: 70px;
  &__heading {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white);
    margin: 0;
    padding-bottom: 20px;
  }
  &__list {
    display: flex;
    gap: 10px;
    padding: 0;
    margin: 0;
    list-style: none;
  }
  &__icon {
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 50%;
    fill: var(--white);
    overflow: hidden;
  }
  &__link:focus svg,
  &__link:hover svg {
    background-color: var(--blue);
  }
}
