.services {
  background-color: var(--darkgrey);
  color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 600px;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../images/backgroundimage.jpg) no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  &__heading {
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    padding-bottom: 30px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36363636;
    margin: 0;
  }
}
