.specifications {
  @extend %container;

  &__container {
    display: flex;
    list-style: none;
    gap: 30px;
    justify-content: center;
    margin: 0;
    padding: 94px 15px;
  }
  &__item {
    width: 100%
  }
  &__heading {
    color: var(--notblack);
    font-weight: 700;
    line-height: 1.14285714;
    text-transform: uppercase;
    margin: 0px auto;
    font-size: 14px;
    width: 100%;
    margin: 0;
  }
  &__text {
    line-height: 1.71428571;
    color: var(--grey);
    margin: 0;
    padding-top: 10px;
    padding-bottom: 3px;
    width: 100%;
  }
}


.icons__box {
  background-color: var(--notwhite);
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  &--spacing {
    margin: 25px 100px;
  }
}
