.specifications {
  @extend %container;

  &__container {
    list-style: none;
    
    justify-content: center;
    margin: 0;
    padding: 60px 15px;
  }
  &__item {
    width: 450px;
    height: 226px;
    margin: 0 auto;
  }
  &__heading {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--notblack);
    margin: 0 105px 10px;
  }
  &__text {
    line-height: 1.71428571;
    color: var(--grey);
    margin: 0;
    padding-top: 10px;
    padding-bottom: 3px;
    width: 100%;
  }
}


.icons__box {
  background-color: var(--notwhite);
  width: 450px;
  height: 120px;
  margin-bottom: 30px;
  &--spacing {
    margin: 25px 190px;
  }
}
