.specializations {
  display: none;
  &__heading {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.167;
    text-align: center;
    color: var(--notblack);
    margin: 0 auto;
    padding: 0 424px 50px;
  }
  &__container {
    @extend %container;
  }
  &__items {
    display: flex;
    list-style: none;
    gap: 30px;
    justify-content: center;
    margin: 0;
    padding: 0 15px 94px;
    &--spacing {
      margin: 0;
    }
    &--size {
      width: 370px;
      height: 294px;
    }
    &--text {
      color: var(--white);
      font-weight: 700;
      background-color: rgba(47, 48, 58, 0.8);
      height: 70px;
      text-align: center;
      position: relative;
      text-transform: uppercase;
      top: -70px;
      padding: 27px 0;
    }
  }
}
