.specifications {
  &__container {
    margin: 0 auto;
    width: 290px;
  }
  &__list {
    list-style: none;
    justify-content: center;
    padding: 60px 0;
    margin: 0;
    gap: 30px;
    display: flex;
    flex-direction: column;
  }
  &__item {
    width: 290px;
    height: 249px;
  }
  &__heading {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--notblack);
    margin: 0 auto 10px;
  }
  &__text {
    line-height: 1.71428571;
    color: var(--grey);
    margin: 0;
    width: 100%;
  }
}

.icons__box {
  background-color: var(--notwhite);
  width: 290px;
  height: 120px;
  margin-bottom: 30px;
  &--spacing {
    margin: 25px 110px;
  }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .specifications {
    &__container {
      width: 450px;
    }
    &__item {
      width: 450px;
      height: 226px;
    }
  }
  .icons__box {
    width: 450px;
    &--spacing {
      margin: 25px 190px;
    }
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .specifications {
    &__container {
      width: 738px;
    }
    &__item {
      width: 354px;
      height: 251px;
    }
    &__list {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
    &__heading {
      text-align: left;
    }
  }
  .icons__box {
    width: 354px;
    &--spacing {
      margin: 25px 142px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .specifications {
    &__container {
      width: 1200px;
      margin: 0 auto;
    }
    &__list {
      display: flex;
      flex-direction: row;
      padding: 94px 0;
    }
    &__item {
      width: 270px;
      height: 251px;
    }
    &__heading {
      text-align: left;
    }
  }
  .icons__box {
    width: 270px;
    &--spacing {
      margin: 25px 100px;
    }
  }
}
