.staff {
  background-color: var(--notwhite);
  &__container {
    margin: 0 auto;
    width: 290px;
  }

  &__heading {
    font-weight: 700;
    font-size: 28px;
    line-height: 33px;
    text-align: center;
    color: var(--notblack);
    padding-top: 60px;
    padding-bottom: 30px;
    margin: 0 auto;
    letter-spacing: 0.03em;
  }
  &__list {
    list-style: none;
    margin: 0 auto;
    padding-bottom: 60px;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
}

.employee {
  background-color: var(--white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  width: 290px;
  height: 452px;
  &__photo {
    width: 290px;
    height: 290px;
  }
  &__heading {
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--notblack);
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    margin: 0;
    padding: 30px 99px 10px;
  }
  &__text {
    text-align: center;
    font-weight: 400;
    letter-spacing: 0.03em;
    font-size: 16px;
    line-height: 19px;
    margin: 0 auto;
    padding-bottom: 16px;
  }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .staff {
    &__container {
      width: 450px;
    }
  }
  .employee {
    width: 450px;
    height: 622px;
    &__photo {
      width: 450px;
      height: 460px;
    }
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .staff {
    &__container {
      width: 768px;
    }
    &__list {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
}
@media screen and (min-width: 1200px) {
  .staff {
    &__heading {
      padding-top: 94px;
      padding-bottom: 50px;
      font-size: 36px;
      line-height: 42px;
    }
    &__container {
      margin: 0 auto;
      width: 1200px;
    }
    &__list {
      flex-direction: row;
      padding-bottom: 94px;
      justify-content: center;
    }
  }
  .employee {
    width: 270px;
    height: 428px;
    &__photo {
      width: 270px;
      height: 260px;
    }
  }
}
