a {
  text-decoration: none;
}
img {
  display: block;
}
.text--blue {
  color: var(--blue);
  &:hover,
  &:focus {
    color: var(--blue);
  }
}
.icon--fill {
  &:hover,
  &:focus {
    fill: var(--blue);
    ;
  }
}
%logo-basic {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.03em;
}
