:root {
    --white: #fff;
    --black: #000;
    --blue: #2196f3;
    --darkgrey: #2f303a;
    --grey: #757575;
    --lightgrey: #e5e5e5;
    --notblack: #212121;
    --notwhite: #f5f4fa;
    --footerlinks: #ffffff99;
    --productborder: #eeeeee;
    --iconcolor: #afb1b8;
  }
  
  
  body {
    font-family: 'Roboto', 'Raleway', sans-serif;
    color: var(--grey);
    background-color: var(--white);
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.03em;
    margin: 0;
    padding: 0;
  }